@using LittleFashion_Kentico13.Components.Widgets
@using LittleFashion_Kentico13.Components.Widgets.ButtonWidget
@model _ButtonWidgetModel
@addTagHelper *, Kentico.Content.Web.Mvc

<div class="col-12 text-center">
    <a href="@Model.ButtonUrl" class="view-all">@Model.ButtonText</a>
</div>