@addTagHelper *, Kentico.Content.Web.Mvc

@using CMS.Helpers
<section class="testimonial section-padding">
    <div class="container">
        <h2 class="text-center">@ResHelper.GetString("TestimonialSectionHeading")</h2>
        <div class="slick-testimonial">
            <widget-zone />
        </div>
    </div>
</section>