
@{
    ViewBag.Title = HtmlLocalizer["Reset password"].Value;
}

<div style="margin:120px">
    <h2>@HtmlLocalizer["Your password was successfully changed"]</h2>
    @Html.ActionLink(HtmlLocalizer["Sign in"].Value, "Login", null, new { @class = "btn btn-secondary" })
</div>

