@using LittleFashion_Kentico13.Components.Sections
@addTagHelper *, Kentico.Content.Web.Mvc


<div class="row row--with-cols-padding">
    <div class="col-lg-4 col-12 mb-3">
        <widget-zone/>
    </div>
    <div class="col-lg-4 col-12 mb-3">
        <widget-zone/>
    </div>
    <div class="col-lg-4 col-12 mb-3">
        <widget-zone />
    </div>
</div>
