@using CMS.Helpers
@using LittleFashion_Kentico13
@addTagHelper *, Kentico.Content.Web.Mvc
@section styles
{
    @* Includes CSS necessary for page builder functionality *@
    <page-builder-styles />
}
@section scripts
{
    @* Includes scripts necessary for page builder functionality *@
    <page-builder-scripts />
}

<editable-area area-identifier="editableArea" />


<section class="contact section-padding">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("ContactForm")
            @await Component.InvokeAsync("ContactInfo")
        </div>
    </div>
</section>