<div class="filter-sidebar">
    <h5 style="margin-bottom:25px">Filters</h5>

    <h6 class="filter">Categories</h6>
    <form id="filterForm" onsubmit="return false;">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="newArrivalsCheckbox" name="categories" value="NewArrivals" onchange="filterProductByCategory()">
            <label class="form-check-label" for="newArrivalsCheckbox">New Arrivals</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="popularCheckbox" name="categories" value="Popular" onchange="filterProductByCategory()">
            <label class="form-check-label" for="popularCheckbox">Popular</label>
        </div>
    </form>

    <h6 class="filter">Price</h6>
    <div class="slider-container">
        <div id="priceSlider"></div>
    </div>
</div>

