@using LittleFashion_Kentico13.ViewModel
@model InventoryViewModel

<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12">
                <h1>
                    <span class="d-block text-primary">
                        @ResHelper.GetString("ProductSectionHeading")
                    </span>
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="products section-padding">
    <div class="container">
        <div class="row">
            <!-- Filter Side Menu -->
            <div class="col-lg-2 col-12 mb-4 mb-lg-0">
                @Html.Partial("_FilterSideMenu")
            </div>

            <!-- Product Listings -->
            <div class="col-lg-10 col-12">
                <div id="product-listings">
                    @Html.Partial("_ProductListings", Model)
                </div>
            </div>
        </div>
    </div>
</section>
